main {
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.slider-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.slider {
    display: flex;
    transition: transform 0.8s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    background-color: #6969699a;
    color: #f0eeeef6;
    border-radius: 10px;
}

.slide-content {
    max-width: 150rem;
    text-align: center;
}

.slider-container:hover .slide {
    background-color: #4bb64781;
}